In [1]:
# one line for loop
[letter for letter in 'Anusha']

['A', 'n', 'u', 's', 'h', 'a']

In [3]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
[x for x in range(20,31) if x%2==0]

[20, 22, 24, 26, 28, 30]

In [8]:
# nested list comprehensions
[ x**2 for x in [x**2 for x in range(11)]]

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [12]:
st = 'Print only the words that start with s in this sentence'

In [10]:
'Anu sh a'.split()

['Anu', 'sh', 'a']

In [14]:
st1=st.split()
for letter in st1:
    if letter[0]=='s':
        print(letter)

start
s
sentence

In [15]:
[letter for letter in st.split() if letter[0]=='s']

['start', 's', 'sentence']

In [17]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [18]:
# list of all numbers between 1 and 50 that are divisible by 3
[i for i in range(1,51) if i%3==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [19]:
st = 'Print every word in this sentence that has an even number of letters'
[word for word in st.split() if len(word)%2==0]

['word', 'in', 'this', 'sentence', 'that', 'an', 'even', 'number', 'of']

In [20]:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split() ]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [ ]:
# Program that prints the integers from 1 to 100. 
# But for multiples of three print "Fizz" instead of the number, 
# and for the multiples of five print "Buzz". 
# For numbers which are multiples of both three and five print "FizzBuzz".

[ "FizzBuzz" for i in range(1,101) if(i%3==0 and i%5==0)]

[i for i in range(1,101) if ]

[ x**2 for x in [x**2 for x in range(11)]]

In [21]:
for i in range(1,101):
    if(i%3==0 and i%5==0):
        print("FizzBuzz")
    elif(i%3==0):
        print("Fizz")
    elif(i%5==0):
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz