In [1]:
'hello'

'hello'

In [2]:
'This is a string'

'This is a string'

In [3]:
"String built with double quotes"

'String built with double quotes'

In [5]:
" I'm using a single quote inside a double quote string!"

" I'm using a single quote inside a double quote string!"

We can use a print statement to print a string.

In [8]:
print('Hello World 1')
print('Hello World 2 \n Hi')

Hello World 1
Hello World 2
 Hi

In [9]:
#counts all of the characters in the string, including spaces and punctuation.
len('Hello World')

11

In [10]:
# Indexing
s = 'Hello World'
# Show first element 
s[0]

'H'

In [11]:
s[2]

'l'

In [12]:
# slicing
s[1:]

'ello World'

In [15]:
#  UP TO the 3rd index
s[:3]

'Hel'

In [16]:
#Everything
s[:]

'Hello World'

In [13]:
# No change to the original s
s

'Hello World'

In [18]:
#negative indexing to go backwards.
# Last letter 
s[-1]

'd'

In [19]:
# everything except the last letter
s[:-1]

'Hello Worl'

In [21]:
# steps size of 1
s[::1]

'Hello World'

In [22]:
# step sizes of 2
s[::2]

'HloWrd'

In [23]:
#  print a string backwards
s[::-1]

'dlroW olleH'

In [25]:
# strings are immutable
s

'Hello World'

In [24]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [27]:
s

'Hello World'

In [28]:
# Concatenate strings
s + ' concatenate me!'

'Hello World concatenate me!'

In [26]:
# We can reassign s 
s = s + ' concatenate me!'
s

'Hello World concatenate me!'

In [25]:
# multiplication symbol to create repetition
letter = 'z'
letter*10

'zzzzzzzzzz'

In [34]:
s

'Hello World concatenate me!'

In [29]:
#Built in String methods
print(s.upper())
print(s.lower())
print(s.split())

HELLO WORLD CONCATENATE ME!
hello world concatenate me!
['Hello', 'World', 'concatenate', 'me!']

In [38]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

In [30]:
# print formatting
'Insert another string with curly brackets: {}'.format('The inserted string')

'Insert another string with curly brackets: The inserted string'